@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

:root {
    --lime: #55FF14;
    --black: #1e1f26;
}

body {
    background-color: var(--black);
    color: white;
    font-family: Poppins, sans-serif;
    position: relative;
    height:100vh;
}

header {
    padding: 15px;
    border-bottom: 2px solid var(--lime);
    font-weight:bold;
}

.picker {
    display: flex;
    gap: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel {
    width: 60px;
    height: 150px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}

.wheel::-webkit-scrollbar {
    display: none;
}

.wheel div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    font-size: 22px;
}
.highlight {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: -25px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    pointer-events: none;
}

.picker-container {
    position: relative;
}
.btns  {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:100px;
    display:flex;
    gap:20px;
}
.btns button {
    padding:10px;
    border-radius:10px;
    border:none;
    background-color:var(--lime);
    font-weight:500;
    cursor:pointer;
}
.btns button:hover {
    opacity:0.9;

}
footer {
    position:absolute;
    bottom:0;
    left:50%;
    transform:translatex(-50%);
}
footer ul {
    display: flex;
    gap: 15px;
    list-style:none;
}
footer ul li {
    border-width:0 2px 2px 2px;
    border: solid var(--lime);
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}
footer ul li:hover {
    opacity:0.7;
}
.active {
    background-color:#55FF14;
    font-weight:bold;
}