@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition:0.2s;
}
:root {
    --lime : #55FF14;
    --black: #1e1f26;
    --opacity: 0.7;
}
body {
    background-color: var(--black);
    color:white;
    font-family: Poppins, sans-serif;
    position:relative;
    height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    padding:15px;
    border-bottom: 2px solid var(--lime);
}
header h3 {
    font-weight: bold;
}
.timer {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:500px;
}
.timer .picker {
    height:240px;
}
.pickerContainer {
    display:flex;
    width:fit-content;
    position:relative;
    align-items: flex-start;
}
.wheel {
    display:flex;
    flex-direction:column;
    border-right:2px solid #2c2c2c;
    border-left:2px solid #2c2c2c;
    font-size:35px;
    align-items:center;
    font-weight:bold;
    height: 240px;       
    overflow-y:auto;
    flex: 0 0 auto; 
    scroll-snap-type: y mandatory; 
    scrollbar-width: none;  
    width:60px;
}
.wheel::-webkit-scrollbar {
    display: none; 
}
.wheel div {
    height: 80px;         
    line-height: 80px;
    text-align: center;
    scroll-snap-align: center; 
}
/* TODO : i finished the css but the border is getting stretched and jump into js */
.highlight {
    border-top:2px solid white;
    border-bottom:2px solid white;
    width:60px;
    height:52px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btns {
    margin-top:25px;
}
.btns button:first-child {
    margin-right:10px;
}
.btns button:last-child {
    margin-right:10px;
}
.btns button {
    background-color:var(--lime);
    border:none;
    color:white;
    padding:10px 10px;
    border-radius:10px;
    cursor: pointer;
}
.btns button:hover {
    opacity:var(--opacity);
}
footer {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--lime);
    padding:20px;
}
ul {
    display:flex;
    gap: 20px;
}
ul li a {
    font-weight: 600;
}
ul li a:hover {
    opacity:var(--opacity);
}