@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition:0.2s;
}
:root {
    --lime : #55FF14;
    --black: #1e1f26;
}
body {
    background-color: var(--black);
    color:white;
    font-family: Poppins, sans-serif;
    position:relative;
    height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    padding:15px;
    border-bottom: 2px solid var(--lime);
}
header h3 {
    font-weight: bold;
}
.timer {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.picker {

}
.pickerContainer {

}
.wheel {

}
.highlight {

}
.btns {
    
}
.btns button {

}
footer {

}
ul {

}
ul li a {

}
/* i finished the html structure and the css styling : header; */
/* TODO: picker styling and footer styling + js logic for the app and we are done */